<div class="left">
    <ul>
        <li>
            <a href="#">o&nbsp;商品管理</a>
            <ul>
                <li><a href="@Url.Action("GoodsClass", "Goods")">●&nbsp;类别管理</a></li>
                <li><a href="@Url.Action("Spe", "Goods")">●&nbsp;规格管理</a></li>
                <li><a href='@Url.Action("GoodsList", "Goods")'>●&nbsp;商品管理</a></li>
                <li><a href='@Url.Action("Shipment", "Goods")'>●&nbsp;运费管理</a></li>
                <li><a href='@Url.Action("GoodsCoupon", "Goods")'>●&nbsp;优惠券码</a></li>
            </ul>
        </li>
    </ul>
</div>