@{
    ViewBag.Title = "新建运费";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="div_left">
    @Html.Partial("LfetPartial")
</div>
<div class="div_right">
    <div class="item">
        <div class="ltitle">新建运费</div>

        <div class="tishi">
            <strong>操作说明：</strong><br />
            <span>
                1.可添加在线客服，访问统计，网站分享等第三方js脚本代码。支持同时使用多个代码。<br />
                2.请尽可能添加知名度高、认可度高的第三方代码，以确保网站安全。<br />
                3.由于添加不安全代码引起的网站访问异常、网站挂马等情况本公司概不负责。<br />
            </span>
        </div>
        @using (Html.BeginForm("AddShipment", "Goods", FormMethod.Post))
        {
            <div class="con">

                <table width="800" border="0" cellspacing="0" cellpadding="0">
                   
                    <tr>
                        <td width="100" height="40" align="right">开始城市：</td>
                        <td width="700">
                            @Html.TextBox("pro_shipment_starcity")
                            （不填写默认青岛）
                        </td>
                    </tr>
                    <tr>
                        <td width="100" height="40" align="right">终点城市：</td>
                        <td width="700">
                            <select id="Province">
                                <option>请选择</option>
                            </select>
                            <select id="City">
                                <option>请选择</option>
                            </select>
                            <select id="County">
                                <option>请选择</option>
                            </select>
                            @Html.Hidden("pro_shipment_province")
                            @Html.Hidden("pro_shipment_city")
                            @Html.Hidden("pro_shipment_county")
                            @Html.Hidden("pro_express_name")
                        </td>
                    </tr>
                    <tr>
                        <td width="100" height="40" align="right">运费价格：</td>
                        <td width="700">
                            @Html.TextBox("pro_shipment_price", null, new { onkeyup = @"value=value.replace(/[^\d.]/g,'')" })
                        </td>
                    </tr>
                    <tr>
                        <td height="30">&nbsp;</td>
                        <td height="40"><input class="btn" id="submit" type="submit" value="保　存" /></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>

            </div>}
    </div>
</div>
<script src="~/Areas/Admin/js/JavaScript_Cascade.js"></script>