<div class="left">
    <ul>
        <li>
            <a href="#">o&nbsp;文章管理</a>
            <ul>

                @*<li><a href="@Url.Action("ArticleList", "Article", new { classid = "about" })">●&nbsp;关于我们</a></li>
                <li><a href="@Url.Action("ArticleList", "Article", new { classid = "member" })">●&nbsp;会员介绍</a></li>*@
                <li><a href="@Url.Action("ArticleList", "Article", new { classid = "process" })">●&nbsp;购物流程</a></li>
                <li><a href="@Url.Action("ArticleList", "Article", new { classid = "returns" })">●&nbsp;关于售后</a></li>
                @*<li><a href="@Url.Action("ArticleList", "Article", new { classid = "maintain" })">●&nbsp;关于维修</a></li>*@
                <li><a href="@Url.Action("ArticleList", "Article", new { classid = "invoice" })">●&nbsp;关于发票</a></li>
                <li><a href="@Url.Action("ArticleList", "Article", new { classid = "express" })">●&nbsp;关于快递</a></li>
                <li><a href="@Url.Action("ArticleList", "Article", new { classid="THHZC"})">●&nbsp;退换货政策</a></li>
               
            </ul>
        </li>
    </ul>
</div>
