@using EFClassLibrary
@model PagedList<user_info>
@using Webdiyer.WebControls.Mvc;

@{
    ViewBag.Title = "发送消息";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="div_left">
    <div class="left">
        @Html.Partial("LfetPartial")

    </div>


</div>
<div class="div_right">
    <div class="list">
        <div class="ltitle">消息列表</div>
        <div class="lsec">
            <div class="lsec1">
            </div>
        </div>
        <div class="lpaixu">
            <ul>
                <li style="width:auto">
                    <a href="@Url.Action("AddMessageCenter","Users")">新建消息</a>
                </li>
            </ul>
        </div>
        <table class="tab">
            <tr class="thead">
                <td>消息标题</td>
                <td>发送时间</td>
                <td>操作</td>
            </tr>
            <tr class="tsf">
                <td colspan="11"></td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.user_info_title</td>
                    <td>@item.user_info_date</td>
                    <td><a href="@Url.Action("DelMessageCenter", "Users", new {id=@item.user_info_id })">删除</a></td>
                </tr>
            }
            <tr class="txf">
                <td colspan="11">
                    <div class="fenye">
                        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageid", NumericPagerItemCount = 5, ContainerTagName = "ul", CssClass = "pagination-digg", CurrentPagerItemTemplate = "<li class='active'><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", PageIndexBoxId = "pageIndexBox", AutoHide = false })
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
