<div class="left">
    <ul>
        <li>
            <a href="#">o&nbsp;系统管理</a>
            <ul>
                <li><a href="@Url.Action("Purview", "Sys")">●&nbsp;权限管理</a></li>
                <li><a href="@Url.Action("Role", "Sys")">●&nbsp;角色设置</a></li>
                <li><a href='@Url.Action("Admin", "Sys")'>●&nbsp;管理人员</a></li>
                <li><a href='@Url.Action("Banner", "Sys")'>●&nbsp;栏目广告</a></li>
                <li><a href='@Url.Action("Ad", "Sys")'>●&nbsp;巨幕广告</a></li>
                <li><a href='@Url.Action("Log", "Sys")'>●&nbsp;日志管理</a></li>
                <li><a href="http://new.cnzz.com/v1/login.php?siteid=1260348956" target="_blank">网站统计</a></li>
                <li>查看密码：cuckooshop</li>
            </ul>
        </li>
    </ul>
</div>
